body {
  margin-left: 0px;
  margin-right: 0px;
  background-color: #EEEEEE;
}

.nav {
  display: inline;
}
.nav-2 {
  display:inline;
}
.web-title {
  width: 24%;
  margin-top: 20px;
  margin-left: 10%;
  margin-right: 7%;
}
.nav-title {
  width: 70px;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.top-line {
  margin-top: 20px;
  margin-left: 0px;
  margin-right: 0px;
}
.top-line-img {
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
}
.background {
  margin-top: -14px;
  width: 100%;
  z-index: -100;
}

.under-nav {
  height: 100px;
  width: 100%;
  margin-top: -10px;
  background-color: lightblue;
  text-align: center;
  line-height: 150px;
}

.under-nav-member {
  width: 200px;
  position: relative;
  min-height: 1px;
  padding-right: 20px;
  padding-left: 20px;
}

/*bootstrap row & col*/

.row {
  margin-right: -15px;
  margin-left: -15px;
}
.col {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
